@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #233eff;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
    padding: 10px;

}

/* Modo retrato(portrait) */

@media screen and (orientation: portrait) {
    body, html {
        background-image: url(../imagens/cev-portrait.jpg);
        background-repeat: no-repeat;
        background-position: center-bottom;
        background-size: contain;
    }
}

/* Modo paisagem(landscape) */
@media screen and (orientation: landscape) {
    body, html {
        background-image: url(../imagens/cev-landscape.jpg);
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}